# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
.idea/


# ingnore ds dstores
*.DS_Store
outputs/data.csv
outputs/path_data.npy
outputs/cut_meshes/*.stl
.venv/
